<div class="country">
    <h2 class="country-title">{{name}}</h2>
    <h3 class="country-subtitel">{{capital}}</h3>
    <p>{{currency}}</p>
    <p>{{language}}</p>
    <p>{{population}}</p>
    <img src="{{flag}}" alt="flag">
    <p></p>
</div>